<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>works</title>
    <link rel="stylesheet" href="\stylesheets\style-works.css" />
  </head>
  <body>
    
    <h1>So what is he doing</h1>

    <section id='works-section'>
     <h2>Commitee Assignments</h2>
    <a href="https://www.sanders.senate.gov/about-bernie/" target='_blank'>Budget</a>
    <a href="https://www.energy.senate.gov/" target='_blank'>Energy and Natural Resources</a>
    <a href="https://www.epw.senate.gov/public/" target='_blank'>Environment and Public Works</a>
    <a href="https://www.help.senate.gov/" target='_blank'>Health, Education, Labor, and Pensions</a>
    <a href="https://www.veterans.senate.gov/" target='_blank'>Veterans’ Affairs</a>
    <img src="\images\works-bernie.jpg" />
</section>
  </body>
</html>
